/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #ccd0da;
    background-alt: #dce0e8;
    foreground:     #4c4f69;
    selected:       #7287fd;
    active:         #dc8a78;
    urgent:         #d20f39;
}
