layout {
  cwd "~/Dropbox/easifem/"
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab focus=true name="base" borderless=true {
    pane split_direction="vertical" {
      pane {
        pane split_direction="horizontal" {
          pane {
            name "base"
            cwd "easifem-base"
            size "80%"
            command "nvim"
          }
          pane split_direction="vertical"{
            pane {
                name "build"
                size "50%"
                cwd "easifem-base"
                command "python3"
                args "./build.py"
            }

            pane {
                name "diff"
                size "50%"
                cwd "easifem-base"
                command "git"
                args "diff"
            }

          }
        }
      }
      pane {
        size "20%"
        pane split_direction="horizontal" {
          pane {
            name "test"
            size "60%"
            cwd "easifem-tests/temp"
            edit "./main.F90"
          }
          pane {
            name "run test"
            size "40%"
            cwd "easifem-tests/temp"
            command "easifem"
            args "run" "-e" "easifemBase" "-f" "main.F90"
          }
        }
      } 
    }
  }

  tab focus=false name="classes" borderless=true {
    pane split_direction="vertical" {
      pane {
        pane split_direction="horizontal" {
          pane {
            name "classes"
            cwd "easifem-classes"
            size "80%"
            command "nvim"
          }
          pane split_direction="vertical"{
            pane {
                name "build"
                size "50%"
                cwd "easifem-classes"
                command "python3"
                args "./build.py"
            }

            pane {
                name "diff"
                size "50%"
                cwd "easifem-classes"
                command "git"
                args "diff"
            }

          }
        }
      }
      pane {
        size "20%"
        pane split_direction="horizontal" {
          pane {
            name "test"
            size "60%"
            cwd "easifem-tests/temp"
            edit "./main.F90"
          }
          pane {
            name "run test"
            size "40%"
            cwd "easifem-tests/temp"
            command "easifem"
            args "run" "-e" "easifemClasses" "-f" "main.F90"
          }
        }
      }
    }
  }
}


