case = [2,2,2,2]
line-length = 78
indent = 2
disable-indent = false
strict-indent = true
disable-indent-mod = true
whitespace = 2
whitespace-comma = true
whitespace-assignment = true
enable-decl = true
whitespace-decl = true
whitespace-relational = true
whitespace-logical = true
whitespace-multdiv = true
whitespace-print = true
whitespace-type = false
whitespace-intrinsics = true
